body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, nav, main, footer {
    padding: 20px 0;
}

header {
    background-color: #000000;
    color: #fff;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #929191;
    height: 5vh;
}

nav ul li {
    display: inline;
    margin-right: 20px;
   
}

nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #666;
}

main section, article {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
}

img{
    width: 65px;
    
}